<div class="navbarWrapper">
    <div class="menu">
        <div class="iconContainer">
            <img class="img-responsive" src="assets/imgs/house.png" class="icon">
        </div>
        <span>home</span>
    </div>

    <div class="menu">
        <div class="iconContainer">
            <img class="img-responsive" src="assets/imgs/folder.png" class="icon">
        </div>
        <span>Tools</span>
    </div>

    <div class="menu">
        <div class="iconContainer">
            <img class="img-responsive" src="assets/imgs/message.png" class="icon">
        </div>
        <span>Messages</span>
    </div>

    <div class="menu">
        <div class="iconContainer">
            <img class="img-responsive" src="assets/imgs/profile.png" class="icon">
        </div>
        <span>Profile</span>
    </div>


</div>