<div class="outer">
    <h2 class="m10">Notification Center</h2>
    <div class="m10">Use the toggle to switch to get info from H&R Block. The more you turn on the better we can keep in
        touch</div>

    <!-- Card 1  -->
    <h4 class="m10">Return & Appointment Updates</h4>
    <div class="m10">Turn notifications on here to stay up-to-date on your specific tax situation</div>
    <div class="cardWrapper">
        <div class="cardItem">
            <p>Email</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Text (SMS)</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Push notifications</p>
            <app-switch></app-switch>
        </div>
    </div>

    <!-- Card 2  -->
    <h4 class="m10">Account & Security Alerts</h4>
    <div class="m10">Know when someone tries to signin, files a return with H&R Block using your info & more</div>
    <div class="cardWrapper">
        <div class="cardItem">
            <p>Email</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Text (SMS)</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Push notifications</p>
            <app-switch></app-switch>
        </div>
    </div>

    <!-- Card 3  -->
    <h4 class="m10">Marketing & Promotions</h4>
    <div class="m10">Get all the best info and deals that H&R block has to offer</div>
    <div class="cardWrapper">
        <div class="cardItem">
            <p>Email</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Text (SMS)</p>
            <app-switch></app-switch>
        </div>
        <div class="cardItem">
            <p>Push notifications</p>
            <app-switch></app-switch>
        </div>
    </div>

    <app-button></app-button>
</div>

<app-navbar></app-navbar>