.outer{
    background-color:#eff6f7;
    padding: 20px;
}

.cardWrapper{
    padding:0px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    background-color:white;
    margin-bottom: 15px;    
}

.cardItem{
    padding: 10px  10px;
    border-bottom: 1px solid #eceaea;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}


.m10{
    margin : 10px 0px
}